* {
    margin: 0;

}
body {
    /* width: 100vw; */
}
.container {
    height: auto;

    display: grid;
    font-family: raleway; /*FIND A WAY TO ADD THIS FONT */

}
/*----------------------------------------------*/
.header {
    color: white;
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;
    font-size: 12px;
    width: auto;
}
/*----------------------------------------------*/
.menu {
    display: flex;

}

#toplogo {
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------------*/
.redvan img {
    height: 1292px;
    width: auto;

}
/*----------------------------------------------*/
.clothing {
    display: flex;
    align-items: space-evenly;
    flex-wrap: wrap;
    height: 1400px;
    width: auto;
}

#short {
    height: 600px;
    width: auto;
}
#hybrid {
    height: 600px;
    width: auto;
}
#floral {
    height: 600px;
    width: auto;
}
#polo {
    height: 600px;
    width: auto;
}
#pants {
    height: 600px;
    width: auto;
}
#blazer {
    height: 600px;
    width: auto;
}
/*----------------------------------------------*/
.officialshirts img {
    height: 1292px;
    width: auto;
}
/*----------------------------------------------*/
.follow {

}
.follow p {
    font-family: sans-serif;
    font-size: 26px;

    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;

}
/*----------------------------------------------*/
.caro {

}

#blueshorts {
    height: 410px;
    width: auto;
}
#uglyshirt {
    height: 410px;
    width: auto;
}
#blackdude {
    height: 410px;
    width: auto;
}
#chair {
    height: 410px;
    width: auto;
}
#flowershirt {
    height: 410px;
    width: auto;
}

/* .footer li {
    text-decoration: none;
} */

/*----------------------------------------------*/


.footer {
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer li {
    list-style: none;
}
.service {
    height: 170px;
    width: auto;
}

.company {
    height: 170px;
    width: auto;
}

.signup {
    height: 240px;
    width: auto;
}

input {
    width: 400px;
    height: 40px;
    box-sizing: border-box;    
}


/*----------------------------------------------*/

.creditcards {
    height: 80px;
    width: auto;
}

.creditcards p {
    font-family: sans-serif;
    font-size: 12px;
}

#cards {
    height: 43px;
    width: 486px;
}

/*----------------------------------------------*/



/*MOBILE*/
@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}

/*TABLET*/

@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    background-color: blue;
  }
}