@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
}

body {
    /* width: 100vw; */
}
.container {
    height: auto;
    font-family: raleway, sans-serif; 
    display: grid;
    grid-template-areas:
        "free free free free free"
        "seven seven seven seven seven"
        "new new new new new"
        "van van van van van"
        "shirt shirt shirt shirt shirt"
        "pants pants pants pants pants"
        "lots lots lots lots lots"
        "follow follow follow follow follow"
        "five five five five five"
        "service service service service service"
        "cards cards cards cards cards"
    ;
}

/*----------------------------------------------*/
.header {
    grid-area: free;
    color: white;
    background-color: black;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: raleway;
    font-size: 12px;
    letter-spacing: 0.2em;    
    /* width: auto; */
}
/*----------------------------------------------*/
.menu {
    grid-area: seven;

}

#toplogo {
    height: auto;
    /* width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.account {
    grid-area: name;
    background-color: pink;
    font-size: 15px;
    letter-spacing: 0.2em;
}
.topmenu {
    grid-area: name;
    background-color: green;
    font-size: 15px;
    letter-spacing: 0.2em;
}
/*----------------------------------------------*/




/*----------------------------------------------*/
.redvan {
    grid-area: van;
    background-color: orange;
}

#vanlife {
    height: 1292px;
    width: auto;

}
/*----------------------------------------------*/
.shirts {
    grid-area: shirt;
    background-color: aqua;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 610px;
    /* width: auto; */
}

.shirts img {
    height: 600px;
    width: 520px
}
/*----------------------------------------------*/
.pants {
    grid-area: pants;
    background-color: thistle;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 610px;
    /* width: auto; */
}

.pants img {
    height: 600px;
    width: 520px
}
/*----------------------------------------------*/
.officialshirts {
    grid-area: lots;
}

.officialshirts img {
    height: 1292px;
    width: auto;
}
/*----------------------------------------------*/
.follow {
    grid-area: follow;
    background-color: red;

}
.follow p {
    font-size: 22px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;
    letter-spacing: 0.2em;    

}
/*----------------------------------------------*/
.caro {
    grid-area: five;
    background-color: purple;

}
.caro img {
    height: 410px;
    width: auto;
}


/* .footer li {
    text-decoration: none;
} */

/*----------------------------------------------*/


.footer {
    grid-area: service;
    background-color: fuchsia;
    height: 420px;
    /* width: auto; */
    flex-direction: row;
    justify-content: space-between;
}

.footer li {
    list-style: none;
    font-size: 15px;
}
.service {
    height: 170px;
    /* width: auto; */
}

.company {
    height: 170px;
    /* width: auto; */
}

.signup {
    height: 240px;
    /* width: auto; */
}

input {
    /* width: 400px; */
    height: 44px;
    width: 295px;
    box-sizing: border-box;    
}

button {
    background-color: black;
    color: white;
    font-family: raleway, sans-serif;
    font-size: 13px;
    height: 43px;
    width: 152px;
    border: none;
}

/*----------------------------------------------*/

.creditcards {
    grid-area: cards;
    background-color: gold;
    height: 80px;
    /* width: auto; */
}

.creditcards p {
    font-family: sans-serif;
    font-size: 12px;
}

#cards {
    height: 43px;
    /* width: 486px; */
}

/*----------------------------------------------*/



/*MOBILE*/
@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}

/*TABLET*/

@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    background-color: blue;
  }

  #flowershirt {
      display: none; /* this is how to get rid of images when downsizing */
  }

}